@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message.</h2>

<div id="featuredAbout">
    <br />
    <p>
        We offer a better way to clean your home. Shane&apos;s Built-In Vacuums LTD has been serving our valued customers of <strong>Kelowna BC</strong> for 25 years.
        We are a family owned and operated company that specializes in installation and service of central vacuum systems.
        You&apos;ll never have to carry or store a bulky vacuum cleaner again.
        As part of our dedication to offering superior products and services we guarantee same day installation and free estimates.
    </p>
    <br />
    <p>@Html.ActionLink("Contact us", "Contact", "Home") and breathe easier tomorrow.</p>
    <br />
    <p>Our built-in vacuum systems are perfect for residential and commercial buildings. We understand that air quality is a high priority, that&apos;s why we offer vacuums with a Hepa Air filtration system. We also offer models that utilize an integrated sound suppression system and LED diagnostic indicators to ensure you are getting the best possible service. When you need a central vacuum system we are the only logical choice.</p>
    <p>@Html.ActionLink("Call us today!", "Contact", "Home")</p>
</div>

<div class="row hidden-xs">
    <div class="col-md-12">
        <div id="sameDay">
            <h1>SAME DAY INSTALLATIONS</h1>
        </div>
    </div>
</div>
