
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<div class="container">
    <div id="featuredVideo" class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <img src="~/Content/Images/HAHLogo.png" class="img-responsive" />
            <p>
                We proudly install Mvac central vacuum systems.<br /><br />
                Designed and manufactured in Canada, Mvac systems are reliable and durable.   Each Mvac
                system boasts industry-leading technology; including the AntiVibraSon system for minimal operating volume,
                and self-cleaning HEPA membrane filters for increased air quality.  Every filter is also Teflon coated,
                ensuring maximum filtration performance by preventing dust from adhering to it.  Mvac&apos;s retractable
                hose system - stored in the piping system installed within your home - allows you to pull out the desired
                length of hose, start your vacuum directly at the inlet, and quickly retract the hose after vacuuming.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <iframe title="MVAC Retractable Hose Demo" class="youtube-player img-responsive" type="text/html"
                    width="540" height="329" src="http://www.youtube.com/embed/aZ6x98o1q6M"
                    frameborder="0" allowFullScreen></iframe>
        </div>
    </div>

    <div id="productContent">
        <h1>Built-in Vacuum Products</h1>
        <div class="row">
            <div class="products col-xs-12 col-sm-4 col-lg-4">
                <div class="col-md-6">
                    <img src="~/Content/images/mvac_builder.jpg" alt="Mvac Builder" />
                </div>
                <div class="col-md-6 vacspecs">
                    <h2>MVac Builder</h2>
                    <ul>
                        <li>5 Year Warranty</li>
                        <li>Serviced in Home</li>
                        <li>Covers up to 6675ft<sup>2</sup></li>
                        <li>Electric Power Nozzle</li>
                        <li>Dirt Finder Headlight</li>
                        <li>Very Quiet 55 Decibels</li>
                        <li>Self-cleaning HEPA filter</li>
                        <li>Bagless Systems</li>
                        <li><a href="attachments.php">Many attachments available.</a></li>
                    </ul>
                </div>
            </div>
            <div class="products col-xs-12 col-sm-4 col-lg-4">
                <div class="col-md-6">
                    <img src="~/Content/images/mvac_m70.jpg" alt="Mvac M70" />
                </div>
                <div class="col-md-6 vacspecs">
                    <h2>MVac Deluxe M70</h2>
                    <ul>
                        <li>10 Year Warranty</li>
                        <li>Serviced in Home</li>
                        <li>Covers up to 6675ft<sup>2</sup></li>
                        <li>Electric Power Nozzle</li>
                        <li>Dirt Finder Headlight</li>
                        <li>2 sets of 37.5 Ratchet Wands</li>
                        <li>Very Quiet 55 Decibels</li>
                        <li>Self-cleaning HEPA filter</li>
                        <li>Bagless Systems</li>
                        <li><a href="attachments.php">Many attachments available.</a></li>
                    </ul>
                </div>
            </div>
            <div class="products col-xs-12 col-sm-4 col-lg-4">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Content/images/mvac_m80.jpg" alt="Mvac M80" />
                    </div>
                    <div class="col-md-6 vacspecs">
                        <h2>MVac Deluxe M80</h2>
                        <ul>
                            <li>10 Year Warranty</li>
                            <li>Service in Home</li>
                            <li>Covers up to 7800ft<sup>2</sup></li>
                            <li>Electric Power Nozzle</li>
                            <li>Dirt Finder Headlight</li>
                            <li>2 sets of 37.5 Ratchet Wands</li>
                            <li>Very Quiet 56 Decibels</li>
                            <li>Self-cleaning HEPA filter</li>
                            <li>Bagless Systems</li>
                            <li><a href="attachments.php">Many attachments available.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
